:not(pre) > code {
  background: #f8f8f8 !important;
  color: #000 !important;
  padding: .3em .4em !important;
  border-radius: .3em !important;
}

h1 {
  font-size: 190% !important;
}

h2 {
  font-size: 160% !important;
}

h3 {
  font-size: 120% !important;
  margin-bottom: 10px !important;
}

h4 {
  font-size: 100% !important;
  margin-bottom: 10px !important;
}


h5 {
  font-size: 85% !important;
}




ul + pre {
  margin-bottom: 2rem;
}

div.document p ~ ul {
  margin-top: -20px;
}

code {
  line-height: 170% !important;
}

div.mermaid svg {
  max-width: 100% !important;
}

table th, table td {
  white-space: normal !important;
}

p {
  text-align: justify !important;
}


div[itemprop="articleBody"] {
	counter-reset: h1;
}

h1 { counter-reset: h2; }
h2 { counter-reset: h3; }
h3 { counter-reset: h4; }
h4 { counter-reset: h5; }
h5 { counter-reset: h6; }
h1:before, h2:before, h3:before, h4:before, h5:before {
  color: #666;
}
h1:not(#search):before { content: counter(h1)". "; counter-increment: h1; }
div:not(#mkdocs-search-results) h2:before { content: counter(h1) "." counter(h2)". "; counter-increment: h2; }
h3:before { content: counter(h1) "." counter(h2) "." counter(h3) ". "; counter-increment: h3; }
h4:before { content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "; counter-increment: h4; }
h5:before { content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "; counter-increment: h5; }

