:not(pre) > code {
  background: #f8f8f8 !important;
  color: #000 !important;
  padding: .3em .4em !important;
  border-radius: .3em !important;
}

h1 {
  font-size: 190% !important;
}

h2 {
  font-size: 160% !important;
}

h3 {
  font-size: 120% !important;
  margin-bottom: 10px !important;
}

h4 {
  font-size: 100% !important;
  margin-bottom: 10px !important;
}


h5 {
  font-size: 85% !important;
}




ul + pre {
  margin-bottom: 2rem;
}

div.document p ~ ul {
  margin-top: 0px;
}

code {
  line-height: 170% !important;
}

div.mermaid svg {
  max-width: 100% !important;
}

table th, table td {
  white-space: normal !important;
  padding: 4px;
}

table {
  margin-bottom: 10px;
}

p {
  text-align: justify !important;
}


div[itemprop="articleBody"] {
	counter-reset: h1;
}

h1 { counter-reset: h2; }
h2 { counter-reset: h3; }
h3 { counter-reset: h4; }
h4 { counter-reset: h5; }
h5 { counter-reset: h6; }
h1:before, h2:before, h3:before, h4:before, h5:before {
  color: #666;
}
h1:before { content: counter(h1)". "; counter-increment: h1; }
h2:before { content: counter(h1) "." counter(h2)". "; counter-increment: h2; }
h3:before { content: counter(h1) "." counter(h2) "." counter(h3) ". "; counter-increment: h3; }
h4:before { content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "; counter-increment: h4; }
h5:before { content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "; counter-increment: h5; }

h1#search::before,
#mkdocs-search-results h3::before
 {
  display: none;
}

div.toc {
    display: none;
    position: fixed;
    left: 1100px;
    top: 0px;
    border-left: 2px solid #ddd;
    display: table;
    font-size: 90%;
    padding: 20px;
    width: auto;
}

div.toc li, div.toc  ul, div.toc  ul li{
  list-style: outside none none !important;
}

div.toc .toctitle {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
div.toc  ul {
  margin: 0px !important;
}

div.toc > ul > li  {
  margin: 0 !important;
}


div.toc  ul li {
  margin-left: 10px !important;
  line-height: 18px;
}

div.toc a {
  padding: 2px;
}
div.toc a:visited {
  color: inherit;
}
div.toc a:hover {
  color: #55a5d9;
}
div.toc a.active {
  background-color: #55a5d9;
  color: #fff;
}

@media screen and (min-width: 1300px) {
  div.toc {
    display: block;
  }
}